@import "../../../styles/variables.scss";

.list {
  list-style: none;

  a {
    text-decoration: none;
    color: $white;
    padding: 1rem;
    transition: 0.3s;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}
